* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    max-width: 1120px;
    margin: 0 auto;
    padding: 40px 15px;
}